html{
    font-family: Arial, Helvetica, sans-serif;
}


.header {
    background-color: steelblue;
    text-align: center;
    padding: 20px;
}


.main {
    padding-top: 30px;
    text-align: center;
}

.receipt{
    display: none;
}

.show-receipt{
    display: block;
}


